.top-container {
    background-color: red;
    height: 200px;
    width: 200px;
    /* border: 10px solid;
    padding: 20px; */
    position: absolute;
    left: 400px; ;
}

.middle-container{
    background-color: blue;
    height: 200px;
    width: 200px;
    /* border:20px solid;
    margin-left: 260px; */
    
}

.bottom-container {
    background-color: yellow;
    height: 200px;
    width: 200px;
    /* border: 10px solid; */
    /* margin-left: 500px; */
    position: absolute;
    left: 200px; ;
    bottom: 590px;
}

body {
    margin: 0;
}